.hero-section img
{
    
    height: 80vh;
    object-fit: contain;
    object-position: center;
}
.hero-section  img{
    object-fit: cover;
    width: max-content;
    
    object-position: center;
    display: block;
}
.carousel-caption 
{
    border-radius: 7px;
    background-color: rgba(34, 34, 34, 0.884);
    backdrop-filter: blur(5px);
}

.carousel-caption p{
    font-size: medium;
  
    padding: 0.4rem;
}
.download
{
    border-radius: 5px; 
    font-size: medium;
    padding: 0.5rem;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    outline: none;
    background-color: #06D001;
    color: white;
    border: none;
}

.welocme-container
{
    
    display: flex;
    flex-direction: column;
    justify-content:center;
    align-items: center;
    margin-top: 2rem;
}
.heading
{
    color: #06D001;

}
.descrip
{
    padding: 1rem;
    width: 70rem;
    text-align: center;
    font-weight: 500;
    color: rgba(34, 34, 34, 0.884);
}


.icons 
{
   
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: rgba(34, 34, 34, 0.089);
}

.icon{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 2rem;
}

.icon i{
    font-size: xxx-large;
}
.text{
    margin-top: 0.6rem;
    color:  #06D001;
    font-weight: 500;
} 
.managemntsystemcertification-container
{
    
    display: flex;
    justify-content: space-around;
    
    margin-top: 4rem;
}

.managemntsystemcertification-container .heading
{
    display: flex;
    justify-content: flex-start;

}
.managemntsystemcertification-container img{
 object-fit: contain;
 object-position: center;
 width: 25rem;
 border: 4px solid #06D001;
 box-shadow: 0px 0px 30px 0px grey;

}



.detail,.detail2{
    text-align:left;
    font-weight: 500;
    color: rgba(34, 34, 34, 0.884);
   
    width: 30rem;
}
.managemntsystemcertification-container button{
    background-color: #06D001;
    color: white;
    padding: 0.5rem;
    border: none;
    box-shadow: 0px 0px 30px 0px grey;
    margin-top: 1rem;
}

.certifications
{
    display: flex;
    justify-content: space-around;
    margin-top: 4rem;
}

.cer-text .heading
{

    font-size: larger;
    text-align: center;
    font-weight: 500;
    color: rgba(34, 34, 34, 0.884);
}

.cer-text
{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}


.help-container{
   
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 2rem;

}

.certified,.help,.quote
{

    border: 2px dotted #06D001;
    width: max-content;
    padding:0.5rem;
    width: 25rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.heading i{
    font-size: larger;
}


.certified .heading, .help .heading, .quote ,.heading
{
    font-size: larger;
    display: flex;
    justify-content: center;
    align-items: center;
}

.certified
{
  
    display: flex;
    flex-direction: column;
}

.help-container .descrip ,.help .descrip,  .quote .descrip
{
    width: 15rem;
    font-size:medium;
    
}
    
.quote 
{
    
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;  
    font-size:medium;
   
}

.help-container button
{
    padding: 0.2rem;
    background-color: #06D001;
    color: white;
    border: none;
    outline: none;
    font-size: large;
    width: 100%;
}


.info-container
{
   
    display: flex;
    justify-content: space-evenly;
    background-color: #06D001;
    margin-top: 4rem;
    padding: 1rem;
}

input[type="email"],input[type="text"] , .subscribe
{
    width: 25rem;
    border-radius: 4px;
    height: 3rem;
    border: none;
    outline: none;
    padding: 0.5rem;

}

.subscribe
{
    color: #06D001;
}

.subscribe:hover{
   
   color: white;
    background-color: rgba(128, 128, 128, 0.801);
}



.footer-container{
   display: flex;
    justify-content: space-evenly;
    background-color: rgba(48, 48, 48, 0.548);
   
    
}

.foot-img 
{
    display: flex;
    justify-content: center;
    align-items: center;
}

.foot-img img
{

    margin-top: 4rem;
    object-fit: contain;
    object-position: center;
    border-radius: 7px ;
    
}

.Fheading
{
    margin-top: 4rem;
    color: white;
    font-size: larger;
    font-weight: 500;
}

hr
{
    background-color: #ccc;
}
.links
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0.5rem;
    
}

.links a
{
    color: white;
}
.links a:hover
{
    color: white;

}

.search
{
    padding: 1rem;
    background-color:rgba(48, 48, 48, 0.548) ;
    display: flex;
    justify-content: center;
}
.search input[type="text"]
{
    width: 92%;
    padding: 0.4rem;
    border: 1px solid white;
}
.search ::placeholder
{
    color: rgba(255, 255, 255, 0.39);
}

.rights
{
    display: flex;
    justify-content: space-evenly;
    background-color:rgba(48, 48, 48, 0.671) ;
    color: white;
    font-size: small;
    padding: 1rem;

}

.rights a
{
    color: white;
    padding: 0.2rem;
}

